node_modules/
nohup.out
logs/
hochschuhl-abc.db*
.hochschuhl-abc.db.swp
chatbot.db*
.env
.env.*
.claude
.vs/
.vscode/
.venv/
scripts/*.txt
server.log
.venv_htc/
uploads/
public/admin/milkdown_editor/
cache/
.DS_Store
package-lock.json
.vectordb_last_sync
dist/
server/lib/generated/prisma
vite.log
build.log
public_bak
public/assets/docs/document-1760603075895-908491976.pdf
prisma/test-temp.db
backups
abc_old.db
uploads_
hochschul-abc.db
.pm2/
